{% load static %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body background="{% static 'images/bg.jpg'%}">
  {% if user.is_authenticated %}
  {% if user.profile.role == 2 %}
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">TIET Access</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/create_assignment/">New Assignment</a></li>
          <li><a href="/user/dashboard">Welcome, {{user.username}}</a></li>
        <li><a href="/user/logout">Logout</a></li>
      </ul>
    </div>
    </nav>
    {% elif user.profile.role == 1%}
    <nav>
    <div class="navbar-dark bg-primary">
      <a href="/" class="brand-logo">TIET Access</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user/stu_dashboard">  Welcome, {{user.username}}</a></li>
        <li><a href="/user/logout">Logout</a></li>
     <!--    <li><a href="/user/register/">Register</a></li> -->
      </ul>
    </div>
    </nav>
    {% endif %}
    {% else%}
    <nav>
    <div class="navbar-dark bg-primary">
      <a href="/" class="brand-logo">TIET Access</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user/login">Login</a></li>
     <!--    <li><a href="/user/register/">Register</a></li> -->
      </ul>
    </div>
    </nav>
    
    {% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% block content %} {% endblock %}
        <!-- <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
  
              </div>
              <div class="col l4 offset-l2 s12">
          
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 TIET Access
            <div></div>
            A product for management of Curriculum of students at Thapar Institute of Engineering and Technology
 
            </div>
          </div>
        </footer> -->
</body>