{% extends "base.html" %}
{% block content %}
 <center> <h2 style= "font-family: Courier New, Courier, monospace;color: #f34605 "; >Hello {{user.username}}
 	<br>
 Welcome to your Dashboard</h2>
 	<br><br><br><br>
<h3 style="font-family:Courier New, Courier, monospace;color: #05c1f3 ";>Batch COE-{{user.profile.batch}}
 	<div class="list-group">
  <a href="http://127.0.0.1:8000/user/stu_dashboard/assignments" class="list-group-item list-group-item-action"><h3 style= "font-family: Courier New, Courier, monospace;color: #05c1f3";>Your Assignments</h3></a>
  <a href="http://127.0.0.1:8000/user/stu_dashboard/timetable" class="list-group-item list-group-item-action"><h3 style= "font-family: Courier New, Courier, monospace;color: #05c1f3";>Your TimeTable</h3></a>

</div>
  
</center>

</body>
{% endblock %}